@model BeverageListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var beverage in Model.Beverages)
{
    <div>
        <h2>@beverage.Name</h2>
        <h3>@beverage.Price.ToString("c")</h3>
        <h4>@beverage.Category.Name</h4>
    </div>
}